<p class="nested-fields">
  <div class="controls">

<%= f.text_field :name, :placeholder => "** NAME => of Your Company/Organization" %>

  <%= f.text_field :sector_type, :placeholder => "**** SECTOR => is it a Private, Public or Nonprofit Org?" %>

  <%#= f.text_field :Org_Types_id, :placeholder => "**** ORG TYPE => Startup? Strategic Consulting? Mentoring?" %>

  <%#= f.text_field :size_employees_structured, :placeholder => "**** SIZE => Size of the Org (by number of employees)" %>

  <%= f.text_field :region_headquartered_in, :placeholder => "**** REGION => where the Org is Primarily Headquartered?" %>

  <%= f.text_field :address_street, :placeholder => "** STREET => the Org's main Business Address/Location" %>

  <%= f.text_field :hq_address_city, :placeholder => "** CITY => current focus is LA Orgs, but all are Welcome" %>

  <%= f.text_field :hq_address_state, :placeholder => "** STATE => current focus is CA Orgs, but all are Welcome" %>

  <%= f.text_field :hq_address_zip, :placeholder => "** ZIP => five digits, or all nine, if you know them please" %>

   <%= f.text_field :description, :placeholder => "** DESCRIPTION => What the Org does, Why, & For Whom" %>

  <%= f.text_field :web_url, :placeholder => "WEB => the Org's Website URL (include 'http://')" %>

  <%= f.text_field :hq_telephone, :placeholder => "TEL => the Org's main/official telephone number" %>

  <%#= f.text_field :hq_email, :placeholder => "EMAIL => the Org's main email address (if monitored)" %>

  <%#= f.text_field :social_platform_dominant, :placeholder => "**** SOCIAL => the Org's dominant Social Media Platform" %>

  <%= f.hidden_field :is_verified_by_staff, :value => "not yet verified" %>

  <%= f.hidden_field :is_verified_by_thirdparty, :value => "not yet verified" %>

  </div>
</p>